body {
    background-color: #a7e6a7;
  }
  
  h1 {
    margin: auto;
    text-align: center;
    font: "Merriweather Sans";
  }
  
  h3 {
    margin: auto;
    text-align: center;
  }
  
  /* li {
    font-family: "Monaco", monospace;
    font-size: larger;
    text-align: center;
    display: inline-block;
  }

  ul {
    text-align: center;
  } */



  ul {
    /* list-style-type: disc; Set the desired list-style-type (e.g., disc for bullets) */
    font-family: "Monaco", monospace;
    font-size: larger;
    padding: 0; /* Remove default padding */
    text-align: center; /* Center the list items */
}

li {
    /* display: inline-block; Display list items as inline-block to center them horizontally */
    margin: 0 10px; /* Adjust margin as needed for spacing between list items */
}
  
 a.recap-link {
    font-weight: bold;
    text-align: center;
  }
  