body
{
   
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: #f2f3f7;
}

body {
    background-color: #f2f3f7;
  }
  
  h1 {
    margin: auto;
    text-align: center;
    font: "Merriweather Sans";
  }
  
  h3 {
    margin: auto;
    text-align: center;
  }
  
a.gm-link {
  font-family: "Monaco", monospace;
  font-size: larger;
  padding: 0; /* Remove default padding */
}

  
 a.recap-link {
    font-weight: bold;
    text-align: center;
  }
 