* {
  box-sizing: border-box;
}

.page-section {
  position: relative;
  overflow: hidden; /* Ensure the child slideshows won't overflow */
  border-radius: 30px;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
}

img {
  vertical-align: middle;
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto; /* Allow the height to adjust proportionally */
}

/* Slideshow container */
.slideshow-container {
    /* flex: 0 1 400px 400px; */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    align-self: center;
    margin: 0;
}

.grid.row {
    display: grid;
    grid-template-columns: 1fr; /* Three columns, equal width */
    gap: 40px; /* Adjust the gap as needed */
    margin: 20px;
}

body {
    background-color: rgb(229, 229, 229);
}

.page-section > .flex-container {
  display: flex;
  flex-direction: column;
}
 

.flex-child {
    margin-right: 30px;
}

.bullet-points {
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
    font-family: "Monaco", monospace;
}

h1 {
    margin: auto;
    text-align: center;
}

h3 {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    margin: auto;
    text-align: center;
}

/* li {
    font-family: "Monaco", monospace;
} */

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -40px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: -40px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}

.left-gallery, .right-gallery {
  width: 100%; /* Full width for small screens */
  float: none; /* Reset float for small screens */
}

a {
    color: rgb(106, 106, 106);
}

/* Media Queries for responsiveness */
@media screen and (min-width: 650px) {
  .flex-container {
      flex-direction: row; /* Change to row layout on larger screens */
  }

  .flex-child {
      margin-right: 30px;
      margin-left: 30px;
      margin-bottom: 0; /* Reset margin-bottom for larger screens */
      flex: 1; /* Equal width for flex children */
  }

  .grid.row {
      grid-template-columns: repeat(3, 1fr); /* Two columns on larger screens */
  }
}
